body, html, #root {
    height: 100%;
    margin: 0;
}

.profile-wrapper {
    position: static;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 40px;
    width: 320px;
    max-width: 350px; /* Adjusted for mobile and desktop */
    background: linear-gradient(135deg, rgba(10, 15, 33, 0.68), rgba(19, 158, 110, 0.32));
    border-radius: 20px; /* Subtle rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin: 20px auto;
    transition: transform 0.3s ease-in-out;
}

.profile-container.blurred {
    filter: blur(5px);
    pointer-events: none; /* Disable interaction with the blurred content */
}

.profile-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.top-section {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for mobile view */
    width: 100%;
    margin-bottom: 0px; /* Added space between top of container and fields */
}

.left-column, .right-column {
    width: 50%; /* Take full width in mobile view */
    display: flex;
    flex-direction: column;
    align-items: start; /* Center align items */
    margin-bottom: 5px; /* Add space between sections */
}

@media (min-width: 768px) {
    .left-column, .right-column {
        width: 50%;
        align-items: flex-start; /* Align items to the left */
    }
}

.profile-image {
    margin-top: 50px;
    width: 120px; /* Reduced size */
    height: 120px;
    background-image: url('/public/default-profile.jpg');
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid rgba(8, 23, 32, 0.75);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-field {
    text-align: left;
    width: 100%;
    padding: 5px 0;
}

.profile-field label {
    font-weight: 750;
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 16px; /* Adjusted for mobile */
    text-transform: uppercase; /* Added for better styling */
    letter-spacing: 1px; /* Added for better styling */
}

.profile-field p {
    font-weight: 400;
    padding-left: 0;
    color: #fff;
    word-break: break-word;
    font-size: 14px; /* Adjusted for mobile */
    background: rgba(255, 255, 255, 0.1); /* Added for better styling */
    padding: 8px; /* Added for better styling */
    border-radius: 4px; /* Added for better styling */
}

.profile-field textarea, .profile-field input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px; /* Adjusted for mobile */
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

.profile-field textarea:focus, .profile-field input:focus {
    border-color: #4CAF50;
    outline: none;
}

.bio-field {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background: linear-gradient(135deg, #4CAF50, rgba(19, 158, 110, 0.32));
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px; /* Adjusted for mobile */
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: linear-gradient(135deg, #4CAF50, rgba(0, 90, 65, 0.47));
    transform: translateY(-2px);
}

.experience-bar-container {
    width: 100%;
    margin-bottom: 20px;
}

.experience-bar {
    position: sticky;
    background: linear-gradient(135deg, #141b25, #2b3159); /* Gradient pattern */
    border-radius: 15px;
    height: 25px;
    width: 80%;
}

.experience-bar-fill {
    background: linear-gradient(135deg, #4CAF50, rgba(19, 158, 110, 0.32)); /* Gradient pattern */
    border-radius: 15px;
    height: 100%;
    transition: width 0.5s ease-in-out;
}

.experience-bar-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #fff;
}

.nft-showcase-container {
    width: 100%;
    margin-bottom: 20px;
}

.nft-showcase {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
}

.nft-item {
    margin-right: 10px;
    cursor: pointer;
    flex: 0 0 auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.nft-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.nft-image {
    width: 100px; /* Adjusted for mobile */
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #010115;
}

.titles-container {
    width: 90%;
    margin-bottom: 20px;
    text-align: left;
}

.title-item {
    display: inline-block;
    background: linear-gradient(135deg, rgb(62, 143, 75), rgba(37, 43, 75, 0.56));
    border-radius: 20px;
    padding: 8px 16px;
    margin: 5px;
    color: #fff;
    font-weight: 600;
    transition: background-color 0.3s;
}

.title-item:hover {
    background-color: rgba(103, 143, 106, 0.7);
}

.all-titles {
    margin-top: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other elements */
}

.modal-content {
    background-color: rgba(2, 0, 0, 0.32);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 90%;
    max-height: 80%; /* Adjusted for better fit */
    overflow: auto; /* Enable scrolling for overflow content */
    text-align: center;
}

.modal-image {
    width: 90%; /* Adjusted for better fit */
    height: auto;
    max-width: 300px; /* Adjusted for better fit */
    margin-bottom: 10px;
}

.modal-info {
    text-align: left;
    color: #ffffff;
}


@media (max-width: 350px) {
    .profile-container {
        flex-direction: column;
        padding: 15px;
        max-width: 100%; /* Ensure it fits on mobile */
    }

    .top-section {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
        align-items: start; /* Center align items */
    }

    .profile-image {
        width: 30px;
        height: 30px;
    }

    .experience-bar-container {
        margin-bottom: 20px;
    }

    .nft-image {
        width: 80px;
        height: 80px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
